@media screen and (min-width : 750px)
{

    header
    {  
        background-image: linear-gradient(to top, transparent, rgb(0, 0, 0)), url(/assets/img/TableBois.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 50px;
        position: relative;
        flex-wrap: wrap;
    }
    
}