@media screen and (max-width : 1280px)
{

    header
    {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 12rem;
    }

    header h1
    {
        font-size: 4rem;
        padding-left: 0;
    }

    header button
    {
        margin-bottom: 5%;
        margin-right: 0;
    }
    
    .AboutUs p
    {
        width: 100%;
    }

    .ContactUs
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: column;
        width: 100%;
        padding: 0;
        position: relative;
        min-height: 100vh;
    }

    .ContactUs h2
    {
        width: 100%;
        font-size: 30px;
    }

    .ContactUs p
    {
        font-size: 25px;
    }

    .ContactUs img
    {
        width: 75%;
    }
    .ContactUs-Text
    {
        width: 100%;
        margin-left:0;
        text-align: justify;
    }
    section.GoldenDishes
    {
        display: flex;
        flex-wrap: wrap;
        height: 150vh;
    }

    .center-dishes
    {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 100vh;
        height: min-content;
    }

    .GoldenDishes img
    {
        width: 75%;
    }

    .discount-center
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        flex-wrap: wrap;
    }

    .discount-center button
    {
        width: 80%;
        text-align: center;
        padding: 0;
        font-size: 100px;
    }

    .Citation
    {
        text-align: center;
    }

    .PlanAdresse
    {
        width: 100%;
    }

    .adresse
    {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }

    .AboutGauche
    {
        width: 100%;
        text-align: justify;
    }
    .AboutNav
    {
        width: 50%;
    }
}
@media screen and (max-width : 700px)
{
    .center-dishes
    {
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    .GoldenDishes img
    {
        width: 50%;
    }
    footer p
    {
        font-size: 20px;
    }
    footer h4
    {
        font-size: 25px;
    }
    footer li
    {
        font-size: 15px;
    }
    .reseaux-sociaux
    {
        display: flex;
        justify-content: flex-start;
        width: 100vw;
    }
    .reseaux-sociaux a
    {
        font-size: 40px;
    }
}