@media screen and (max-width : 1280px)
{

    header
    {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 12rem;
    }

    header h1
    {
        font-size: 4rem;
        padding-left: 0;
    }

    header button
    {
        margin-bottom: 5%;
        margin-right: 0;
    }
    
    .AboutUs p
    {
        width: 90%;
    }

    .ContactUs
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: column;
        width: 100%;
        padding: 0;
        position: relative;
        min-height: 150vh !important;
    }

    .ContactUs h2
    {
        width: 100%;
        font-size: 30px;
        padding-bottom: 25px;
    }

    .ContactUs p
    {
        font-size: 25px;
        padding-bottom: 40px;
        width: 90%;
        text-align: justify;
        margin: 0 auto;
    }

    .ContactUs img
    {
        width: 75%;
        padding-bottom: 40px;
    }
    .ContactUs-Text
    {
        width: 100%;
        margin-left:0;
        text-align: justify;
    }
    .ContactUs button{
        margin: 0 auto;
    }
    section.GoldenDishes
    {
        display: flex;
        flex-wrap: wrap;
        height: 150vh;
    }

    .center-dishes
    {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 100vh;
        height: min-content;
    }

    .GoldenDishes img
    {
        width: 75%;
    }

    .discount-center
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        flex-wrap: wrap;
    }

    .discount-center button
    {
        width: 80%;
        text-align: center;
        padding: 0;
        font-size: 100px;
    }

    .Citation
    {
        text-align: center;
    }

    .PlanAdresse
    {
        width: 100%;
    }

    .adresse
    {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }

    .AboutGauche
    {
        width: 100%;
        text-align: justify;
    }
    .AboutNav
    {
        width: 50%;
        font-size: 20px;
    }

    .AboutNav ul li
    {
        font-size: 25px;
    }
}
@media screen and (max-width : 700px)
{
    .center-dishes
    {
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    .GoldenDishes img
    {
        width: 50%;
    }
    footer p
    {
        font-size: 20px;
    }
    footer h4
    {
        font-size: 25px;
    }
    footer li
    {
        font-size: 15px;
    }
    .reseaux-sociaux
    {
        display: flex;
        justify-content: flex-start;
        width: 100vw;
    }
    .reseaux-sociaux a
    {
        font-size: 40px;
    }
    .olive{
        display: none;
    }
}

@media screen and (max-width: 550px)
{
    .Discount h1{
        font-size: 40px;
    }

    .Discount h6{
        font-size: 20px;
        width: 90%;
    }

    .Discount button{
        font-size: 30px;
        
    }

    .PlanAdresse h2{
        font-size: 65px;
    }

    .reseaux-sociaux ul li{
        width: 60px;
    }

    .Citation p{
        font-size: 40px;
    }

    .reseaux-sociaux ul li a{
        font-size: 25px;
    }
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      top: 0;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 