/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fin reset css*/
*, *::before, *::after
{
    box-sizing: border-box;
}
/* Navigation en haut*/
.TopBar
{
    background-color: rgb(118, 109, 74);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-content: center;
    padding: 20px;
}

.TopBar img 
{
    margin: auto;
    width: 300px;
}

.TopBar ul
{
    list-style: none;
    margin: auto;
    margin-right: 150px;

}
.TopBar li
{
    display: inline-block;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
}

header
{  
    background-image: url("../img/TableBois.png");
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,255,255,0)); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 50px;
    position: relative;
}

header img
{
    width: 12%;
}

header h1
{
    color: white;
    position: left;
    flex: auto;
    padding-left: 50px;
}

header button /*Bouton Book now*/
{
    background-color: rgb(206, 151, 68);
    border: solid 1px;
    background-size: cover;
    text-align: center;
    width: auto;
    float: right;
    padding: 5px;
    font-size: 32px;
    color: white;
}
header h1
{
    font-size: 90px;
}
.AboutUs
{
    background: rgb(206, 151, 68);
    background-image: url('../img/Choux.png'); 
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -40%;
    text-align: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.AboutUs h2
{
    font-size: 50px;
    color: white;
    align-items: center;
}
.AboutUs p
{
    color: white;
    font-size: 25px;
    text-align: justify;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.ContactUs
{
    background-color:rgb(118, 109, 74);
    color: white;
    display: flex;
    padding: 100px;
    height: 100vh;
    width: fit-content;
}
.ContactUs button /*Bouton Contact Us!*/
{
    background-color: rgb(206, 151, 68);
    border: solid 1px;
    background-size: cover;
    text-align: center;
    padding: 5px;
    width: max-content;
    font-size: 30px;
}
.ContactUs-Text
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 35px;
    margin-left: 30px;
}

.ContactUs img
{
    width: 100%;
}

.ContactUs h2
{
    font-size: 45px;
}

.GoldenDishes
{
    background-color: rgb(206, 151, 68);
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.GoldenDishes h2
{
    text-align: center;
    font-size: 60px;
}

.PetitsPlats
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.TextePetitPlats
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 35px;
}

.Discount
{
    background-color: rgb(206, 151, 68);
    background-image: url("../img/Salade.png");
    background-position: 140%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-height: 100vh;
}

.Discount h1
{
    text-align: center;
    font-size: 80px;
}

.Discount h6
{
    text-align: center;
    font-size: 45px;
}

.Discount button
{
    background-color: white;
    font-size: 150px;
    width: min-content;
    padding-left: 20px;
    padding-right: 20px;
}

section.Couverts
{
    height: 100vh;
    background-image: url("../img/Couverts.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Citation
{
    margin-left: auto;
    margin-right: auto;
    background-size: auto;
    background-color: rgb(206, 151, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
    min-height: 100vh;
}
.Plan
{
    background-image: url("../img/plan.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
}
.PlanAdresse
{
    background-color: black;
    opacity: 0.5;
    min-height: 100vh;
    width: 35%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.Plan h2
{
    font-size: 50px;
    color: white;
    align-items: center;
    display: flex;
}
.Plan p
{
    color: white;
    align-items: center;
    display: flex;
}
footer
{
    background-color: rgb(118, 109, 74);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
footer h4
{
    font-size: 50px;
    color: white;
}
footer p
{
    color: white;
    font-size: 30px;
}

footer nav
{
    color: white;
    font-size: 30px;
}

.AboutNav
{
    display: flex;
    flex-direction: column;
}
.AboutGauche
{
    display: flex;
    flex-direction: column;
}