/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fin reset css*/
*, *::before, *::after
{
    box-sizing: border-box;
}
/* Navigation en haut*/
.TopBar
{
    background-color: rgb(118, 109, 74);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-content: center;
    padding: 20px;
    font-family: "avenirltstd-book";
    position: fixed;
    z-index: 1000;
}

.TopBar img 
{
    margin: auto;
    width: 300px;
}

.TopBar ul
{
    list-style: none;
    margin: auto;
    margin-right: 150px;
}
.TopBar li
{
    display: inline-block;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
}

header
{  
    background-image: linear-gradient(to top, transparent, rgb(0, 0, 0)), url(/assets/img/TableBois.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 50px;
    position: relative;
}

header img
{
    width: 12%;
}

header h1
{
    color: white;
    position: left;
    flex: auto;
    padding-left: 50px;
    font-family: "anticdidone-regular", serif;
}

header button /*Bouton Book now*/
{
    background-color: rgb(206, 151, 68);
    border: solid 1px;
    background-size: cover;
    text-align: center;
    width: auto;
    float: right;
    padding: 5px;
    font-size: 32px;
    color: white;
    font-family: "avenirltstd-light",sans-serif;
    margin-right: 5%;
}
header h1
{
    font-family: "nunito-regular";
    font-size: 90px;
}
.AboutUs
{
    background: rgb(206, 151, 68);
    background-image: url('../img/Choux.png'); 
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -40%;
    text-align: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.AboutUs h2
{
    font-size: 50px;
    color: white;
    align-items: center;
}
.AboutUs p
{
    color: white;
    font-size: 25px;
    text-align: justify;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    font-family: "avenirltstd-light", serif;
}
.ContactUs
{
    background-color:rgb(118, 109, 74);
    color: white;
    display: flex;
    padding: 100px;
    height: 100vh;
    width: fit-content;
}
.ContactUs button /*Bouton Contact Us!*/
{
    background-color: rgb(206, 151, 68);
    background-size: cover;
    text-align: center;
    padding: 5px;
    width: max-content;
    font-size: 30px;
    font-family: "avenirltstd-medium";
    color: white;

}
.ContactUs-Text
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 35px;
    margin-left: 30px;
    font-family: "avenirltstd-light";
}

.ContactUs img
{
    width: 100%;
}

.ContactUs h2
{
    font-size: 45px;
    font-family: "anticdidone";
}

.GoldenDishes
{
    background-color: rgb(206, 151, 68);
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.GoldenDishes h2
{
    text-align: center;
    font-size: 60px;
    padding-bottom: 60px;
    font-family: "anticdidone";
}

.PetitsPlats
{
    align-items: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.center-dishes
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
}

.PetitsPlats p
{
    font-size: 30px;
    font-family: "avenirltstd-light";
}

.Discount
{
    background-color: rgb(206, 151, 68);
    background-image: url("../img/Salade.png");
    background-position: 140%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.discount-center
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    text-align: center;
    padding-left: 140px;
}

.Discount h1
{
    text-align: center;
    font-size: 80px;
    font-family: "anticdidone";
    color: white;
    padding-bottom: 25px;
    padding-top: 150px;
}

.Discount h6
{
    text-align: center;
    font-size: 45px;
    font-family: "avenirltstd-light";
    color: white;
    padding-bottom: 100px;
}

.Discount button
{
    background-color: white;
    font-size: 150px;
    width: min-content;
    padding-left: 160px;
    padding-right: 160px;
    border-radius: 20px;
    font-family: "avenirltstd-heavy";
}

section.Couverts
{
    height: 100vh;
    background-image: url("../img/Couverts.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Citation
{
    margin-left: auto;
    margin-right: auto;
    background-size: auto;
    background-color: rgb(206, 151, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
    min-height: 100vh;
    color: white;
    font-family: "avenirltstd-light";
}
.Plan
{
    background-image: url("../img/plan.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
}
.PlanAdresse
{
    background-color: black;
    opacity: 0.5;
    min-height: 100vh;
    width: 35%;

}
.adresse
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 60%;
    padding-bottom: 40%;
}

.Plan h2
{
    font-size: 85px;
    color: white;
    padding-bottom: 20px;
    font-family: "avenirltstd-heavy";
}
.Plan p
{
    color: white;
    font-size: 30px;
    padding: 40px;
    font-family: "avenirltstd-light";
}
.BarreHaut
{
    background-color: rgb(118, 109, 74);
    background-position: top;
    background-size: auto;
    height: 125px;
    width: 100%;
}
.BarreBas
{
    background-color: rgb(118, 109, 74);
    height: 125px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer
{
    background-color: rgb(206, 151, 68);
    position: relative;
}

.about
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    font-family: "avenirltstd-light";
}
footer h4
{
    font-size: 50px;
    color: white;
    font-family: "avenirltstd-heavy";
}
footer p
{
    color: white;
    font-size: 30px;
    font-family: "avenirltstd-light";
}

footer nav
{
    color: white;
    font-size: 30px;
}

.reseaux-sociaux
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    z-index: 1000;
}
.reseaux-sociaux ul
{
    list-style: none;
    margin: auto;
}

.reseaux-sociaux li
{
    display: inline-block;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.AboutNav
{
    display: flex;
    flex-direction: column;
    width: 15%;
}
.AboutGauche
{
    display: flex;
    flex-direction: column;
    width: 70%;
}